# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Compiled executables
*.exe

# Build directories
build/
bin/

# IDE-specific files and directories
.vscode/
.idea/

# CMake build files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile

# Dependency directories (example: for Conan or vcpkg)
conan/
vcpkg/

# Miscellaneous
*.log
*.swp
